@use "../util/mixins" as *;
@use "../util/variables" as *;
@use "../themes/defaultThemes" as *;

.album-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  width: 40vw;
  position: relative;
  .album__header {
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .row {
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .arrow {
      color: white;
      font-size: 1.5rem;
      margin: 0.5rem;
      cursor: pointer;
    }
  }
  .albums-container {
    margin-top: 1rem;
    display: flex;
    width: 480vw;
    height: 200px;
    position: relative;
  }
  .albums {
    position: absolute;
    left: 0;
    display: flex;
    transition: all 0.3s linear;

    width: 100%;
    height: 100%;
  }
  .album {
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 235px;

    align-items: flex-start;
    &__image {
      width: 150px;
      cursor: pointer;
    }
    &__name {
      width: 150px;
      color: #98ff98;
      font-size: 0.9rem;
      letter-spacing: 0.4px;
      margin: 0.3rem 0rem;
    }
    &__artist {
      color: #98ff98;
    }
  }
}
