.history {
  width: 30vw;
  height: 400px;
  background-color: #393649;
  overflow-y: scroll;

  &__title {
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }
  .q {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #201f279a;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 0.5rem;
    color: white;
    cursor: pointer;
    &__name {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
    }
    .row {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and(max-width:900px) {
  .history {
    display: none;
    &__title {
      display: none;
    }
  }
}
