@use '../util/mixins' as *;
@use '../util/variables' as *;
@use '../themes/defaultThemes' as *;

.navbar{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    flex: 0 0 12%;
    justify-content: space-evenly;

    &__icon{
        font-size: 1.6rem;
        color: white;
        cursor: pointer;
    };
};