@use "../util/mixins" as *;
@use "../util/variables" as *;
@use "../themes/defaultThemes" as *;

.navbar {
  display: flex;
  flex-direction: column;
  height: 40vh;
  align-items: center;
  width: 170px;
  justify-content: space-evenly;
  &__link {
    @include flex-center;
    cursor: pointer;
    list-style: none;
    width: 80px;
    justify-content: space-between;
    color: rgb(223, 223, 223);
  }
  &__icon {
    font-size: 1.1rem;
    color: rgb(230, 230, 230);
  }
}
