@use "../util/mixins" as *;
@use "../util/variables" as *;
@use "../themes/defaultThemes" as *;

.navbar {
  display: flex;
  flex-direction: column;
  height: 55vh;
  margin-top: 1rem;
  align-items: center;
  width: 170px;
  justify-content: space-evenly;
  &__link {
    height: 30px;
    @include flex-center;
    cursor: pointer;
    list-style: none;
    width: 130px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    color: rgb(223, 223, 223);
    font-size: 0.9rem;
    letter-spacing: 0.8px;
    align-items: flex-end;
    div {
      display: flex;
      height: 25px;
      align-items: flex-end;
    }
  }
  &__icon {
    font-size: 1.4rem;
    color: rgb(230, 230, 230);
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: row;
    width: 100vw;
    height: 150px;
    margin-top: 0;
    &__link {
      align-items: center;
      justify-content: center;
    }
    .text {
      display: none;
    }
    &__icon {
      font-size: 1.8rem;
      color: rgb(230, 230, 230);
    }
  }
}
