@use "../util/mixins" as *;
@use "../util/variables" as *;
@use "../themes/defaultThemes" as *;

.player-component {
  width: 100vw;
  background-color: #190c1d;
  height: 88px;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  bottom: 0;
  .info {
    display: flex;
    margin-left: 15rem;
    img {
      margin-right: 3rem;
    }
  }
  .colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  //   margin-top: 20vh;
}
