@use "../util/mixins" as *;
@use "../util/variables" as *;
@use "../themes/defaultThemes" as *;

.player-component {
  width: 100vw;
  background-color: #190c1d;
  height: 88px;
  position: fixed;
  left: 0;
  bottom: 0;
  //   margin-top: 20vh;
}
