.page {
  margin-left: 280px;
  .title {
    color: white;
    margin-top: 3rem;
    text-transform: capitalize;
  }
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .album-name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  .page {
    margin-left: 50px;
    .back {
      left: 30px;
    }
    // padding-left: 5.7rem;
  }
}
