menu.li {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  width: 0;
  height: 0;
  border-top: 6px transparent solid;
  border-left: 6px transparent red;
  border-bottom: 6px transparent solid;
  margin-right: -6px;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.75rem;
}

p {
  margin-bottom: 1.25rem;
  color: #6c859d;
}

@media only screen and (min-width: 768) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1, h2, h3, h4 {
    line-height: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: inherit;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

object,
embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.login-con {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.show {
  display: block !important;
}

.app {
  display: flex;
  position: relative;
}

.flex {
  display: flex;
  min-width: 75vw;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1b1827;
  color: #265e97;
  line-height: 1.5;
  font-size: 0.75rem;
  overflow: hidden;
}

@media only screen and (min-width: 1024) {
  .section {
    width: 95vw;
  }
}
.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: 620px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container button {
  color: #fff;
  display: block;
  width: 45%;
  border-color: transparent;
  background: #3b85ce;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  outline: none;
}

@media screen and (max-width: 900px) {
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .column .home {
    margin-right: 0;
  }
}
.header-con .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #1a1824;
  border-right: 2px solid #3936479d;
  position: fixed;
}
.header-con .header__start {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
}
.header-con .header__name {
  align-self: stretch;
  width: 200px;
  height: 60px;
  background-color: #98ff98;
  margin: 1.5rem 0;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #394d65;
}
.header-con .header__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  justify-content: space-evenly;
}
.header-con .header .user__name {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.header-con .header__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(https://icon-library.com/images/guest-icon-png/guest-icon-png-29.jpg);
  background-position: left top;
  background-size: cover;
}
.header-con .header .setting {
  margin-top: 2rem;
  letter-spacing: 0.8px;
}
.header-con span {
  text-transform: lowercase;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .header-con .header {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #39354d;
    z-index: 1000000;
  }
  .header-con .header__start {
    display: none;
  }
  .header-con .header__name {
    display: none;
  }
  .header-con .user__name {
    display: none;
  }
  .header-con__icon {
    display: none;
  }
}
.search__container {
  margin-bottom: 0.2rem;
  position: relative;
}
.search__input {
  color: #cecece;
  outline: none;
  width: 28rem;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1.5px solid #62626A;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
}
.search__icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #cecece;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 55vh;
  margin-top: 1rem;
  align-items: center;
  width: 170px;
  justify-content: space-evenly;
}
.navbar__link {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  list-style: none;
  width: 130px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  color: #dfdfdf;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
  align-items: flex-end;
}
.navbar__link div {
  display: flex;
  height: 25px;
  align-items: flex-end;
}
.navbar__icon {
  font-size: 1.4rem;
  color: #e6e6e6;
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: row;
    width: 100vw;
    height: 150px;
    margin-top: 0;
  }
  .navbar__link {
    align-items: center;
    justify-content: center;
  }
  .navbar .text {
    display: none;
  }
  .navbar__icon {
    font-size: 1.8rem;
    color: #e6e6e6;
  }
}
.main-con {
  display: flex;
}

.home {
  margin-left: 3.5rem;
  margin-top: 2rem;
  display: flex;
  flex: 0 0 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home__title {
  color: white;
  margin-bottom: 2rem;
}
.home .played {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  cursor: pointer;
  display: flex;
  background-color: transparent;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  justify-content: space-between;
}
.card__pic {
  height: 55px;
  border-radius: 0.5rem;
}
.card__info {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.card__info .artist {
  color: gray;
  font-size: 0.6rem;
}
.card .time {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

@media screen and (max-width: 900px) {
  .home {
    margin-left: 0px;
  }
}
.player-component {
  width: 100vw;
  background-color: #190c1d;
  height: 88px;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.player-component .info {
  display: flex;
}
.player-component .info img {
  margin-right: 3rem;
}
.player-component .info .controls {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
}
.player-component .info .controls .control {
  color: white;
  margin-right: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.player-component .colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.containter {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1b1827;
  z-index: 10000000000000000000000000000;
}

.item {
  height: 20%;
  width: 30px;
  background-color: #98ff98;
  margin: 0 10px;
}

.item:nth-child(1) {
  animation: dong 1s infinite running;
  animation-delay: 0s;
}

.item:nth-child(2) {
  animation: dong 1s infinite running;
  animation-delay: 0.1s;
}

.item:nth-child(3) {
  animation: dong 1s infinite running;
  animation-delay: 0.2s;
}

.item:nth-child(4) {
  animation: dong 1s infinite running;
  animation-delay: 0.3s;
}

.item:nth-child(5) {
  animation: dong 1s infinite running;
  animation-delay: 0.4s;
}

@keyframes dong {
  0% {
    height: 30%;
  }
  20% {
    height: 50%;
  }
  40%, 100% {
    height: 30%;
  }
}
.none {
  display: none;
}

.albums-container-100 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 250px;
  overflow: hidden;
  width: 70vw;
  position: relative;
  margin-right: 40px;
  height: 300px;
  margin-bottom: 1rem;
}
.albums-container-100 .album__header {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}
.albums-container-100 .row {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.albums-container-100 .row .arrow {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
.albums-container-100 .album-container-100 {
  display: flex;
  width: 200vw;
  height: 235px;
  position: relative;
}
.albums-container-100 .albums {
  position: absolute;
  left: 0;
  display: flex;
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
}
.albums-container-100:last-child {
  margin-bottom: 6rem;
}
.albums-container-100 .album {
  width: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  align-items: center;
  height: 235px;
  background-color: #181524;
  margin-right: 20px;
  position: relative;
}
.albums-container-100 .album:hover {
  background-color: rgba(153, 153, 153, 0.247);
}
.albums-container-100 .album:hover .player-image {
  background-image: url("./play-button.png");
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  transform: translateY(-8px);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 57%;
  left: 65%;
  cursor: pointer;
}
.albums-container-100 .album__image {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  cursor: pointer;
  align-self: center;
}
.albums-container-100 .album__name {
  width: 120px;
  color: #98ff98;
  overflow: hidden;
  font-size: 0.9rem;
  white-space: nowrap;
  letter-spacing: 0.4px;
  margin-top: 0.8rem;
  font-weight: bold;
}
.albums-container-100 .album__artist {
  color: #98ff98;
}

.album-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 40vw;
  position: relative;
  margin-left: 250px;
  margin-right: 40px;
  height: 300px;
  margin-bottom: 1rem;
}
.album-container .album__header {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}
.album-container .row {
  width: 38vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.album-container .row .arrow {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
.album-container .albums-container {
  margin-top: 1rem;
  display: flex;
  width: 480vw;
  height: 235px;
  position: relative;
}
.album-container .albums {
  position: absolute;
  left: 0;
  display: flex;
  transition: all 0.3s linear;
  width: 100%;
  height: 100%;
}
.album-container .album {
  width: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  align-items: center;
  height: 235px;
  background-color: #181524;
  margin-right: 20px;
  position: relative;
}
.album-container .album:hover {
  background-color: rgba(153, 153, 153, 0.247);
}
.album-container .album:hover .player-image {
  background-image: url("./play-button.png");
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  transform: translateY(-8px);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 57%;
  left: 65%;
}
.album-container .album__image {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  cursor: pointer;
  align-self: center;
}
.album-container .album__name {
  width: 120px;
  color: #98ff98;
  overflow: hidden;
  font-size: 0.9rem;
  white-space: nowrap;
  letter-spacing: 0.4px;
  margin-top: 0.8rem;
  font-weight: bold;
}
.album-container .album__artist {
  color: #98ff98;
}

.none {
  display: none;
}

.album {
  margin-top: 1rem;
  width: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  align-items: center;
  height: 235px;
  background-color: #181524;
  margin-right: 20px;
  position: relative;
  margin-bottom: 1rem;
}
.album:hover {
  background-color: rgba(153, 153, 153, 0.247);
}
.album:hover .player-image {
  background-image: url("./play-button.png");
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  transform: translateY(-8px);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 57%;
  left: 65%;
  cursor: pointer;
}
.album__image {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  cursor: pointer;
  align-self: center;
}
.album__name {
  width: 120px;
  color: #98ff98;
  overflow: hidden;
  font-size: 0.9rem;
  white-space: nowrap;
  letter-spacing: 0.4px;
  margin-top: 0.8rem;
  font-weight: bold;
}
.album__artist {
  color: #98ff98;
}

@media screen and (max-width: 900px) {
  .albums-container-100 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .albums-container-100:last-child {
    margin-bottom: 180px;
  }

  .album-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.history {
  width: 30vw;
  height: 400px;
  background-color: #393649;
  overflow-y: scroll;
}
.history__title {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.history .q {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #201f279a;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
  color: white;
  cursor: pointer;
}
.history .q__name {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.history .q .row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .history {
    display: none;
  }
  .history__title {
    display: none;
  }
}
.playlist {
  min-width: 40vw;
  margin-left: 250px;
  margin-bottom: 50px;
}
.playlist__name {
  width: 120px;
  color: #98ff98;
  overflow: hidden;
  font-size: 0.9rem;
  white-space: nowrap;
  letter-spacing: 0.4px;
  margin-top: 0.2rem;
  font-weight: bold;
  margin-left: 0.8rem;
}
.playlist .playlists {
  display: flex;
}
.playlist .playlist__header {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
}
.playlist .row {
  width: 38vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.playlist .row .arrow {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
  cursor: pointer;
}
.playlist__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  background-color: #181524;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.playlist__image {
  margin: 0.3rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  height: 60px;
}

@media screen and (max-width: 900px) {
  .playlist {
    margin-left: 0px;
    width: 70vw;
  }
  .playlist .row {
    width: 100%;
  }
}
.songs-page {
  margin-bottom: 130px;
  margin-left: 250px;
  width: calc(100vw - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.songs-page .banner-content {
  width: 90%;
  background-color: #242033;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.songs-page .banner-content .name {
  white-space: nowrap;
  overflow: hidden;
  font-size: 4rem;
  text-align: left;
  width: 400px;
}
.songs-page .banner-content .banner {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 2rem;
}
.songs-page .banner-content .banner .edit,
.songs-page .banner-content .banner .trash {
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.songs-page .banner-content .banner .edit {
  position: absolute;
  top: 40px;
  left: 50px;
}
.songs-page .banner-content .banner .trash {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.songs-page .banner-content .banner .column-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.songs-page .banner-content .banner .img {
  overflow: hidden;
}
.songs-page .banner-content .banner .banner__img {
  width: 200px;
  height: 200px;
  margin-right: 2rem;
  position: relative;
}
.songs-page .banner-content .banner .edit-image {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: #05040465;
  z-index: 1;
  display: none;
  cursor: pointer;
  margin-right: 2rem;
}
.songs-page .banner-content .banner .edit-image svg {
  font-size: 2rem;
  color: white;
}
.songs-page .banner-content .banner .edit-image .para {
  color: white;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.songs-page .banner-content .banner .description {
  text-align: left;
  color: white;
  font-size: 1rem;
  width: 80%;
  color: #cccccc;
}
.songs-page .banner:hover .edit-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.songs-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.songs-container .song {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-right: 1.3rem;
  margin-bottom: 0.8rem;
  background-color: #242033;
  border-radius: 5px;
  transition: all ease 0.3s;
  color: white;
}
.songs-container .song:hover .track-con .track-num {
  display: none;
}
.songs-container .song:hover .track-con .ply {
  display: block;
}
.songs-container .song:hover .track-con .ply svg {
  display: block;
}
.songs-container .song:hover {
  background-color: #6b6b6b79;
  transition: all 0.3s ease;
}
.songs-container .song .ply {
  display: none;
  margin-left: 1.6rem;
  margin-right: 1.3rem;
  font-size: 2rem;
  display: flex;
  align-self: center !important;
}
.songs-container .song .ply svg {
  display: none;
}
.songs-container .song .close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
.songs-container .song .close .track-num {
  margin-left: 1.6rem;
  margin-right: 1.3rem;
  font-size: 1rem;
  display: flex;
  align-self: center !important;
}
.songs-container .song .close .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.songs-container .song__image {
  width: 50px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.songs-container .song__artist {
  color: #98ff98;
}
.songs-container .song__name {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
}
.songs-container .song .time {
  margin-right: 1rem;
}
.songs-container .song .dots {
  cursor: pointer;
  display: flex;
  position: relative;
}
.songs-container .song .dots .dot {
  height: 3px;
  width: 3px;
  background-color: white;
  margin-right: 0.3rem;
  border-radius: 50%;
}
.songs-container .song .dots .dropdown {
  width: 150px;
  height: auto;
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: -120px;
  background-color: #1f2430;
  display: none;
  text-align: center;
}
.songs-container .song .dots .dropdown .playlists-ul {
  text-align: center;
  background-color: #1f2430;
  position: absolute;
  left: -150px;
  bottom: 0;
  display: none;
  width: 150px;
}
.songs-container .song .dots .dropdown .playlists-dropdown:hover > .playlists-ul {
  display: block;
}
.songs-container .song .dots .dropdown li {
  text-align: center;
  padding-bottom: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  border-bottom: 1px solid white;
}

.play {
  font-size: 1.8rem;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.name {
  color: white;
  text-align: center;
}

.description {
  text-align: center;
}

.music-bar {
  display: flex;
  align-self: flex-end;
  margin-left: 1.6rem;
  margin-right: 1.3rem;
}
.music-bar .now.playing .bar {
  display: inline-block;
  margin-right: 1px;
  width: 3px;
  height: 1px;
  overflow: hidden;
  background-color: #98ff98;
  color: transparent;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.paused.playing .bar {
  animation-iteration-count: 1;
}

.n1 {
  animation-delay: 0.5s;
}

.n2 {
  animation-delay: 0.2s;
}

.n3 {
  animation-delay: 1.2s;
}

.n4 {
  animation-delay: 0.9s;
}

.n5 {
  animation-delay: 2.3s;
}

.n6 {
  animation-delay: 1.3s;
}

.n7 {
  animation-delay: 3.1s;
}

.n8 {
  animation-delay: 1.9s;
}

@keyframes pulse {
  0% {
    height: 1px;
    margin-top: 0;
  }
  10% {
    height: 30px;
    margin-top: -30px;
  }
  50% {
    height: 20px;
    margin-top: -20px;
  }
  60% {
    height: 30px;
    margin-top: -30px;
  }
  80% {
    height: 40px;
    margin-top: -40px;
  }
  100% {
    height: 1px;
    margin-top: 0;
  }
}
.no-songs {
  color: white;
}

.back {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 263px;
  z-index: 1111;
}

.searchedSongs-container {
  display: flex;
  width: 70%;
  margin-left: 300px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.searchedSongs-container .songs-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: white;
}
.searchedSongs-container .song {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-right: 1.3rem;
  margin-bottom: 0.8rem;
  background-color: #242033;
  border-radius: 5px;
  transition: all ease 0.3s;
  color: white;
}
.searchedSongs-container .song:hover .track-con .track-num {
  display: none;
}
.searchedSongs-container .song:hover .track-con .ply {
  display: block;
}
.searchedSongs-container .song:hover .track-con .ply svg {
  display: block;
}
.searchedSongs-container .song:hover {
  background-color: #6b6b6b79;
  transition: all 0.3s ease;
}
.searchedSongs-container .song .ply {
  display: none;
  margin-left: 1.6rem;
  margin-right: 1.3rem;
  font-size: 2rem;
  display: flex;
  align-self: center !important;
}
.searchedSongs-container .song .ply svg {
  display: none;
}
.searchedSongs-container .song .close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
.searchedSongs-container .song .close .track-num {
  margin-left: 1.6rem;
  margin-right: 1.3rem;
  font-size: 1rem;
  display: flex;
  align-self: center !important;
}
.searchedSongs-container .song .close .col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.searchedSongs-container .song__image {
  width: 50px;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.searchedSongs-container .song__artist {
  color: #98ff98;
}
.searchedSongs-container .song__name {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
}
.searchedSongs-container .song .time {
  margin-right: 1rem;
}
.searchedSongs-container .song .dots {
  cursor: pointer;
  display: flex;
  position: relative;
}
.searchedSongs-container .song .dots .dot {
  height: 3px;
  width: 3px;
  background-color: white;
  margin-right: 0.3rem;
  border-radius: 50%;
}
.searchedSongs-container .song .dots .dropdown {
  width: 150px;
  height: auto;
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: -120px;
  background-color: #1f2430;
  display: none;
  text-align: center;
}
.searchedSongs-container .song .dots .dropdown .playlists-ul {
  text-align: center;
  background-color: #1f2430;
  position: absolute;
  left: -150px;
  bottom: 0;
  display: none;
  width: 150px;
}
.searchedSongs-container .song .dots .dropdown .playlists-dropdown:hover > .playlists-ul {
  display: block;
}
.searchedSongs-container .song .dots .dropdown li {
  text-align: center;
  padding-bottom: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 900px) {
  .songs-page,
.searchedSongs-container {
    margin-left: 0px;
    width: 100vw;
  }
  .songs-page .back,
.searchedSongs-container .back {
    left: 30px;
  }
}
.heart {
  padding-top: 2em;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png");
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}

.right {
  animation: heart-burst 0.8s steps(28) forwards;
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.edit-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100, 100, 100, 0.411);
  z-index: 11111;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-container .edit-row {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.edit-container .file {
  height: 40px;
  margin-left: 3rem;
  color: white;
}
.edit-container .input,
.edit-container textarea {
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  color: white;
  background-color: #272727;
}
.edit-container textarea,
.edit-container input {
  width: 80%;
  margin-bottom: 1.4rem;
  resize: none;
}
.edit-container .edit-title {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.edit-container img {
  position: absolute;
  top: 110px;
  left: 48px;
  height: 80px;
}
.edit-container .edit-box {
  width: 470px;
  min-height: 300px;
  position: absolute;
  background-color: #1f1a25;
  z-index: 11200;
}
.edit-container .submit {
  position: absolute;
  bottom: 15px;
  right: 20px;
  padding: 0.5rem 1.4rem;
  letter-spacing: 0.5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}
.edit-container .close {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.library {
  margin-left: 280px;
}
.library__header {
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-left: 0.8rem;
}
.library .library-con {
  display: flex;
  flex-wrap: wrap;
}
.library .library-con .playlist-name {
  width: 120px;
  color: #98ff98;
  overflow: hidden;
  font-size: 0.9rem;
  white-space: nowrap;
  letter-spacing: 0.4px;
  margin-top: 0.2rem;
  margin-left: 0.8rem;
  font-weight: bold;
}
.library .create {
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/74/68/plus-icon-isolated-on-white-background-add-vector-30687468.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-top: 1rem;
}
.library .heart {
  background-image: url("https://i.pinimg.com/originals/f9/c0/f1/f9c0f13fad00a245d9c5af3740215b6e.png");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}
.library .back {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 263px;
}

.margin-bottom {
  margin-bottom: 4rem;
}

@media screen and (max-width: 900px) {
  .library {
    margin: 0;
  }

  .library-con {
    min-width: 100vw;
    margin: 0 auto;
  }

  .margin-bottom {
    margin-bottom: 170px;
  }
}
.login-con {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-con .login {
  display: flex;
  height: 500px;
  width: 800px;
  background-color: #201c1e;
}
.login-con .login .input-field {
  flex: 1 1 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-con .login .input-field .form__label {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  display: block;
  transition: all 0.3s;
  margin-left: 0.4rem;
  transform: translateY(0rem);
  color: white;
}
.login-con .login .input-field .form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 0.8rem;
  padding: 0.8rem 1rem 0.8rem 0.8rem;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
}
.login-con .login .input-field .form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
  outline: none;
}
.login-con .login .image {
  flex: 1 1 60%;
  background-image: url("https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
}

.button {
  width: 100px;
  font-size: 1em;
  padding: 1em 2em;
  appearance: none;
  background-color: #77cc7e;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(155, 155, 155, 0.5);
}
.button a {
  color: white;
}

.search {
  margin-left: 300px;
}
.search-title {
  color: white;
  text-transform: capitalize;
}
.search .flex-search {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  align-items: center;
}
.search .flex-search button {
  height: 30px;
}
.search .flex-albums {
  display: flex;
  overflow: hidden;
}
.search .see-more {
  color: rgba(255, 255, 255, 0.753);
  letter-spacing: 0.5px;
  font-size: 1rem;
  text-transform: uppercase;
}
.search .see-more:hover {
  text-decoration: underline;
}
.search .search-con {
  width: 300px;
  position: relative;
}
.search .search-con .search-input {
  border-radius: 5px;
  width: 100%;
  padding: 1rem 0.5rem;
  outline: none;
}
.search .search-con .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.margin-top {
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .search {
    margin-left: 45px;
  }
}
.page {
  margin-left: 280px;
}
.page .title {
  color: white;
  margin-top: 3rem;
  text-transform: capitalize;
}
.page .page-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.page .album-name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .page {
    margin-left: 50px;
  }
  .page .back {
    left: 30px;
  }
}/*# sourceMappingURL=main.css.map */